<%- include('layout/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="class shadow">
            <div class="input-group mb-3">
                <div class="card-header bg-primacy">
                <h3 class="text-light">Add New User</h3>
                </div>
                <div class="card-body p-4">
                    <form action="/add" method="post" id="add-form" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">@</span>
                        <input name="name" type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <input name="email" type="text" class="form-control" placeholder="E-mail" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <span class="input-group-text" id="basic-addon2">@gmail.com</span>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">+62</span>
                        <input name="phone" type="text" class="form-control" placeholder="Phone Number" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Select Image</label>
                        <input type="file" class="form-control form-control-lg" name="image">
                    </div>
                    <div class="mb-3 d-grid">
                        <input type="submit" name="submit" value="Add User" class="btn btn-primacy btn-lg">
                    </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<%- include('layout/footer') %>